html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
  letter-spacing: 1px;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: white; }

ul {
  margin: auto; }

li, .nav-item {
  list-style: none; }
  li a, .nav-item a {
    background-color: black;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s; }
    li a:hover, .nav-item a:hover {
      color: grey !important; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.fondo-intro {
  background-image: url(../images/fondo-intro.jpg);
  background-size: 100% auto;
  display: flex;
  flex-wrap: wrap; }
  .fondo-intro .intro {
    width: 100%;
    background-color: rgba(90, 90, 90, 0.5); }
    .fondo-intro .intro p, .fondo-intro .intro h1, .fondo-intro .intro h2, .fondo-intro .intro span {
      background-color: grey;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-weight: 600; }
    .fondo-intro .intro h5:hover {
      text-decoration: underline; }
    .fondo-intro .intro .card-img-top {
      transition-property: background-color opacity;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
      transition-delay: 0s; }
      .fondo-intro .intro .card-img-top:hover {
        background-color: black;
        opacity: 0.7; }
    .fondo-intro .intro .forms {
      display: flex;
      justify-content: center; }
      .fondo-intro .intro .forms .form-control {
        width: 300px; }

.fondo-ndn {
  background-image: url(../images/ndn.jpg);
  background-color: #ff2d3c;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 150px auto;
  display: flex;
  width: 100%; }
  .fondo-ndn p, .fondo-ndn h1, .fondo-ndn h2, .fondo-ndn a {
    font-weight: 600; }
  .fondo-ndn a:hover {
    text-decoration: underline; }
  .fondo-ndn .img-fluid {
    transition: transform .5s ease; }
    .fondo-ndn .img-fluid:hover {
      transform: scale(1.2); }

.fondo-aqn {
  background-image: url(../images/aqn.jpg);
  background-color: #00c2ca;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 150px auto;
  display: flex;
  width: 100%; }
  .fondo-aqn p, .fondo-aqn h1, .fondo-aqn h2, .fondo-aqn a {
    font-weight: 600; }
  .fondo-aqn a:hover {
    text-decoration: underline; }
  .fondo-aqn .img-fluid {
    transition: transform .5s ease; }
    .fondo-aqn .img-fluid:hover {
      transform: scale(1.2); }

.fondo-duquesas {
  background-image: url(../images/duquesas.jpg);
  background-color: #00CE7C;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 150px auto;
  display: flex;
  width: 100%; }
  .fondo-duquesas p, .fondo-duquesas h1, .fondo-duquesas h2, .fondo-duquesas a {
    font-weight: 600; }
  .fondo-duquesas a:hover {
    text-decoration: underline; }
  .fondo-duquesas .img-fluid {
    transition: transform .5s ease; }
    .fondo-duquesas .img-fluid:hover {
      transform: scale(1.2); }

.formulario {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  .formulario div {
    margin-top: 25px;
    margin-bottom: 25px; }
    .formulario div .info-form {
      border: 2px solid white;
      background-color: transparent;
      padding: 10px;
      border-radius: 10px;
      font-weight: 600;
      color: white; }
    .formulario div label {
      font-weight: 600; }
      .formulario div label input:focus {
        background-color: black; }
      .formulario div label span {
        background-color: grey; }
  .formulario textarea {
    width: 350px;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid white;
    background-color: transparent;
    /*padding: 10px;*/
    border-radius: 10px;
    color: white; }
  .formulario .input:focus {
    background-color: black; }
  .formulario .boton {
    border: 2px solid white;
    color: white;
    text-align: center;
    background-color: grey;
    padding: 10px;
    border-radius: 15%;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s; }
    .formulario .boton:hover {
      background-color: black; }

footer {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: black; }
  footer .red-social {
    display: inline-block; }
    footer .red-social:hover {
      transform: rotate(-20deg); }
