html,
body { 
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	padding: 0;
	margin: 0;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

header {
	background-color: black;
	display: flex;
	flex-direction: row;
	width: 100%;
	flex: 1;
}

.logo {
	margin-left: 25px;
}

nav { 
	display: flex;
	text-align: right;
	margin-right: 0;
	margin-left: auto;
	text-transform: uppercase;
 }

.menu {
	margin-right: 25px;
	vertical-align: middle;
}

.menu > li {
	display: inline-block;	
	margin: 10px 20px;
	padding: 10px 20px;
}

.menu > li:hover {
	background-color: black;
}


li {
	list-style: none;
	color: white;
}

li a {
	color: white;
	background-color: black;
	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	transition-delay: 0s;
}

li a:hover,
.menu-btn:hover  {
	color: grey;
}

.submenu {
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: black;
}

.menu li:hover .submenu {
	display: block;
	list-style: none;
	text-align: left;
	padding: 15px;
	z-index: 3;

}

.submenu li:hover {
	background-color: black;
}

.submenu li a {
	display: block;
	position: relative;
	text-decoration: none;
	padding: 5px;
}

footer {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	color: white;
	text-align: center;
	background-color: black;
}

.grid {
	display: grid;
	background-color: black;
	grid-template-columns: repeat(5, 80px);
	grid-template-rows: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	justify-items: center;
	grid-template-areas: 'instagram youtube twitch spotify whatsapp'
						 'copy copy copy copy copy';
}

.grid .instagram a {
	grid-area: instagram;
}

.grid .youtube a {
	grid-area: youtube;
}

.grid .twitch a {
	grid-area: twitch;
}


.grid .spotify a {
	grid-area: spotify;
}

.grid .whatsapp a {
	grid-area: whatsapp;
}

.grid .copy {
	grid-area: copy;
}

.intro {
	width: 100%;
	font-weight: 500;
	background-color: rgba(90, 90, 90, 0.5);
}

.intro p,
.intro h1, 
.intro h2 {
	width: 400px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.fondo-intro {
	background-image: url(../images/fondo-intro.jpg);
	background-size: 100% auto;
	display: flex;
}

.banner {
	display: flex;
	justify-content: center;
}


.fondo-ndn {
	background-image: url(../images/ndn.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 200px auto;
	display: flex;
	background-color: #ff2d3c;
	width: 100%;
}

.fondo-aqn {
	background-image: url(../images/aqn.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 200px auto;
	display: flex;
	background-color: #00c2ca;
	width: 100%;
}

.fondo-duquesas {
	background-image: url(../images/duquesas.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 200px auto;
	display: flex;
	background-color: #00CE7C;
	width: 100%;
}

.contenido {
	z-index: 2;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
	flex: 1;
}

.intro-radio {
	display: block;
	width: 400px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.formulario {
	display: block;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.formulario div {
	margin-top: 25px;
	margin-bottom: 25px;
}

textarea {
	width: 400px;
	height: 200px;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid white;
	background-color: transparent;
	padding: 10px;
	border-radius: 10px;
	color: white;
}

.info-form {
	width: 200px;
	border: 2px solid white;
	background-color: transparent;
	padding: 10px;
	border-radius: 10px;
	color: white;
}

.boton {
	border: 2px solid white;
	color: white;
	text-align: center;
	background-color: transparent;
	padding: 10px;
	border-radius: 15%;
}

.instagram:hover,
.whatsapp:hover,
.youtube:hover,
.twitch:hover,
.spotify:hover,
.whatsapp:hover {
	transform: rotate(-20deg);

}

.menu-btn {
	display: none;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	border: none;
	padding: 10px 25px;
	margin-right: 15px;
	background-image: url('../images/menu.jpg');
	background-size: 15px auto;
	background-position: left center;
	background-repeat: no-repeat;
	background-color: transparent;
}


@media (max-width: 1024px) {

	.contenido {
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 20px;
	}

	.contenido iframe {
		width: 400px;
	}


}


@media (max-width: 870px)  {

	.menu {
		display: none;
	}

	.menu-btn {
		display: inline-block;
	}

}